<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Captains Log</title>
	</head>
	<body>
		<h1>New Log Page</h1>
		<form action="/logs" method="POST">
			Title: <input type="text" name="title" id="title" /><br />
            <textarea name="entry" id="entry" placeholder="What happened?"></textarea><br />
			Ship Broken: <input type="checkbox" name="shipIsBroken" id="shipIsBroken"/><br />
			<input type="submit" name="submit" value="ADD TO LOG" />
		</form>
	</body>
</html>